body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1; /* Ensure navbar is above other content */
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 5px;
    padding: 5px;
    border: none;
    background-color: lightgrey;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background-color: white;
    height: 241px;
    margin-bottom: 0px;
}

.product img {
    width: 70%;
    height: 70%;
    margin: auto;
}

.product p {
    font-weight: 600;
    margin-top: 5px;
    align-items: center;
}

.product button {
    background-color:black;
    color: white;
    padding: 5px;
    cursor: pointer;
    width: auto;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}

.product button:hover {
    color:blueviolet;
}
